/* /c:/Users/nicos/Documents/Github/planning_poker/frontend/src/assets/accueil.css */

.accueil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.accueil-card {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.accueil-title {
    color: #333;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.accueil-card p {
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.accueil-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.accueil-button:hover {
    background-color: #0056b3;
}