/* Accueil.css */

.container {
    /* Utilise la hauteur minimale pour centrer le contenu verticalement */
    min-height: 100vh; 
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    padding: 100px;
    margin: 100px;
}

.card {
    padding: 32px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.title {
    margin-bottom: 8px;
    font-weight: 600;
}

.subtitle {
    margin-bottom: 24px;
    color: #6c757d; /* Couleur de texte secondaire */
}

.form {
    margin-top: 8px;
}

.button {
    margin-top: 16px;
    padding: 10px 0;
}